* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ms_blue {
    color: #0070d1;
}
.ms_gray {
    color: gray;
}
.ms_ng-margin {
    margin-bottom: -12px;
}
.ms_fixed-shadow {
    box-shadow: 0 0 0 4px ;
}
.ms_fixed-border-b {
    border-bottom: 2px solid #0070d1;
}






/* btn */
.ms_navbar .btn {
    background-color: #363636;
}
.ms_navbar .btn:hover {
    background-color: #606060;
}
.ms_jumbo-top .btn, #jumbotron-2 .btn {
    background-color: #cd3d0f;
    outline: 2px solid black;
}
.ms_jumbo-top .btn:hover, #jumbotron-2 .btn:hover {
    box-shadow: 0 0 0 4px #cd3d0f;
}
#playstation5 .btn, #playstation4 .btn {
    background-color: #0070d1;
    outline: 2px solid white;
}
#playstation5 .btn:hover, #playstation4 .btn:hover {
    box-shadow: 0 0 0 4px #0070d1;
}
#playstation-plus .btn {
    background-color: #d9dadc;
    color: #0070d1; 
    outline: 2px solid #bebcbb;
}
#playstation-plus .btn:hover {
    box-shadow: 0 0 0 4px rgba(193,197,200,.9);
}
#playstation-now .btn{
    outline: 2px solid #161c3b;
}
#playstation-now .btn:hover{
    box-shadow: 0 0 0 4px white;
}




/* header */
header {
    display:initial;
}
.ms_header-top {
    background-color: black;
}
.ms_header-top img {
    width: 70px;
    cursor: pointer;
}
.ms_header-bottom {
    background-color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 9999;
}
.ms_navbar li {
    margin-right: 5px;
}
.ms_navbar li a{
    font-size: 0.8rem;
}
.ms_navbar .nav-item i {
    font-size: 10px;
    padding-left: 2px;
    color: gray;
}
.ms_navbar .nav-item i.fa-search {
    color: black;
}
/* change nav-link color */
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #0d6efd;
}
/* /change nav-link color */




/* jumbo */
.ms_jumbo-top {
    height: 500px;
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
}
.ms_jumbo-top img {
    width: 200px;
    min-width: 200px;
}
.ms_jumbo-bottom img {
    border-radius: 20px; 
    opacity: 0.8;
    cursor: pointer;
}
.ms_jumbo-bottom .box {
    border-radius: 20px; 
    outline: 2px solid white;
    position: relative;
    bottom: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 9998;
}
.ms_jumbo-bottom .box:hover {
    box-shadow: 0 0 0 4px #0070d1;
    transform: translateY(-20px);
}
.ms_jumbo-bottom .box:hover img{
    box-shadow: 0 .75rem 8px rgba(0, 0, 0, .5);
    opacity: 1;
}
.ms_hover-up-text {
    opacity: 0;
    transform: translateY(0);
    transition: transform 1.4s ease-out;
}
.ms_hover-up-text:hover {
    opacity: 1;
    transform: translateY(-15px);
}




/* sezione playstation 5 */
#playstation5 img {
    width: 80%;
    opacity: 0.8;
    cursor: pointer;
}
#playstation5 img:hover {
    opacity: 1;
}
#playstation5 img.play-big-img {
    width: 100%;
}




/* jumbo 2 */
#jumbotron-2 {
    height: 500px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    overflow-y: auto;
}
#jumbotron-2 img {
    width: 200px;
    min-width: 200px;
}
.ms_opacity-text {
    opacity: 0;
    transition: opacity 1.4s ease-out;
}
.ms_opacity-text:hover {
    opacity: 1;
}




/* nuove uscite */
#new-release {
    background-color: #1f1f1f;
}
#new-release img {
    border-radius: 20px; 
    cursor: pointer;
}
#new-release img:hover {
    transform: scale(1.02);
}




/* playstation 4 */
#playstation4 span {
    display: block;
}




/* playstation plus */
#playstation-plus {
    background-color: #bebcbb;
}




/* sale */
#sale img {
    border-radius: 20px;
    cursor: pointer;
}
.ms_hover-bigger:hover {
    transform: scale(1.04);
    box-shadow: 6px 6px 20px rgba(0,0,0,0.5);
}



/* playstation now */
#playstation-now {
    background-color: #161c3b;
}



/* social */
#social-media img {
    border-radius: 20px;
    cursor: pointer;
}



/* footer */
footer {
    background-color: #00439c;
}
footer .logo-ps {
    width: 65px;
}
footer .world-img {
    width: 20px;
}
footer li {
    list-style: none;
}
footer li a {
    text-decoration: none;
    color: white;
}
footer .footer-logo {
    width: 150px;
}




@media screen and (min-width: 768px) {
    #playstation5 .row.ms_justify {
        justify-content: space-around;
    }
    footer {
        font-size: .8rem;
    }
}


