* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header */
.ms_header-top {
    height: 30px;
    background-color: black;
}
.ms_header-top img {
    width: 70px;
}
.ms_header-bottom {
    height: 75px;
}
.ms_navbar {
    width: 100%;
}
.ms_navbar li {
    margin-right: 10px;
}
.ms_navbar .nav-item i {
    font-size: 10px;
    padding-left: 3px;
}
.ms_navbar i.fa-search {
    font-size: 20px;
}
.ms_navbar .btn {
    background-color: #363636;
}
/* change nav-link color */
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #0d6efd;
}
/* /change nav-link color */




/* jumbo */
#jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* #jumbotron .ms_jumbo-content {
    position: absolute;
    left: 0;
    bottom: 50px;
} */
.ms_jumbo-content {
    padding-top: 200px;
}
#jumbotron .btn {
    background-color: #cd3d0f;
}




/* *****debug***** */
.debug .ms_header-bottom {
    background-color: lightblue;
}
.debug #jumbotron {
    height: calc(100vh - 130px);
    background-color: lightcoral;
}