* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.ms_blue {
    color: #0070d1;
}
.ms_gray {
    color: gray;
}
.ms_ng-margin {
    margin-bottom: -12px;
}





/* btn */
.ms_navbar .btn {
    background-color: #363636;
}
.ms_jumbo-top .btn, #jumbotron-2 .btn {
    background-color: #cd3d0f;
}
#playstation5 .btn, #playstation4 .btn {
    background-color: #0070d1;
}
#playstation-plus .btn {
    background-color: #d9dadc;
    color: #0070d1;
}




/* header */
header {
    position: fixed;
    right: 0;
    left: 0;
}
.ms_header-top {
    height: 30px;
    background-color: black;
}
.ms_header-top img {
    width: 70px;
}
.ms_header-bottom {
    height: 75px;
    background-color: white;
}
.ms_navbar li {
    margin-right: 10px;
}
.ms_navbar .nav-item i {
    font-size: 10px;
    padding-left: 3px;
}
/* change nav-link color */
.navbar-light .navbar-nav .nav-link {
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #0d6efd;
}
/* /change nav-link color */




/* jumbo */
#jumbotron {
    padding-top: 105px;
}
.ms_jumbo-top {
    height: 500px;
    background-image: url(../img/jumbo-bg.png);
    background-position: top;
    background-size: cover;
}
.ms_jumbo-top img {
    width: 200px;
    min-width: 200px;
}
.ms_jumbo-bottom img {
    border-radius: 20px; 
}




/* sezione playstation 5 */
#playstation5 img {
    width: 80%;
}
#playstation5 img.play-big-img {
    width: 100%;
}





/* jumbo 2 */
#jumbotron-2 {
    height: 500px;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    overflow-y: auto;
}

#jumbotron-2 img {
    width: 200px;
    min-width: 200px;
}




/* nuove uscite */
#new-release {
    background-color: #1f1f1f;
}
#new-release img {
    width: 100%;
    border-radius: 20px; 
}




/* playstation 4 */
#playstation4 img {
    width: 90%;
}
#playstation4 span {
    display: block;
    margin-bottom: 1rem;
}




/* playstation plus */
#playstation-plus {
    background-color: #bebcbb;
}
#playstation-plus .play-plus{
    width: 50%;
}
#playstation-plus .play-plus-big{
    width: 100%;
}




/* sale */
#sale img{
    width: 80%;
}




/* playstation now */
#playstation-now {
    background-color: #161c3b   ;
}
#playstation-now .play-now{
    width: 50%;
}
#playstation-now .play-now-big{
    width: 80%;
}




/* social media */
#social-media img {
    width: 100%;
}




/* footer */
footer {
    background-color: #00439c;
}
footer .logo-ps {
    width: 65px;
}
footer .world-img {
    width: 20px;
}
footer li {
    list-style: none;
}
footer li a {
    text-decoration: none;
    color: white;
}
footer .footer-logo {
    width: 150px;
}




@media screen and (min-width: 768px) {
    .row.ms_justify {
        justify-content: space-around;
    }
    footer .logo-ps {
        width: 80px;
    }
    footer {
        font-size: .9rem;
    }
}


@media screen and (min-width: 992px) {
    #jumbotron-2 {
        height: 580px;
    }
}








/* *****debug***** */
